.option {
  font-weight: normal;
  padding-block: var(--size08);
  padding-left: var(--size08);
  margin-right: var(--size08);
}

.option:hover {
  border-left: 3px solid var(--strong-green);
  color: var(--strong-green);
}

.option:first-of-type {
  margin-top: var(--size04);
}

.option:not(:first-of-type) {
  border-top: 1px solid rgb(195, 195, 195);
}

.active {
  font-weight: bold;
  border-left: 3px solid var(--strong-green);
  color: var(--strong-green);
}
