.frame-child3 {
  height: 75px;
  width: 1326px;
  position: relative;
  background-color: var(--color-whitesmoke);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.ellipse-div {
  height: 29px;
  width: 35px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray-100);
  z-index: 2;
}
.search-your-recipe {
  margin-left: -18px;
  width: 402px;
  height: 29px;
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  max-width: 105%;
  z-index: 1;
}
.search-your-recipe-wrapper {
  width: 384px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.line-icon {
  height: 29px;
  width: 15px;
  position: absolute;
  margin: 0 !important;
  bottom: 13px;
  left: 462px;
  object-fit: contain;
  z-index: 3;
}
.rectangle-parent3 {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-426xl) var(--padding-6xl);
  box-sizing: border-box;
  position: relative;
  row-gap: 20px;
  max-width: 100%;
}
.frame-child4 {
  width: 204px;
  height: 204px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.veg {
  position: relative;
  display: inline-block;
  min-width: 62px;
}
.ellipse-parent,
.veg-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.veg-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-47xl);
}
.ellipse-parent {
  height: 263px;
  width: 233px;
  flex-direction: column;
  padding: 0 var(--padding-10xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-mini);
}
.frame-child5 {
  width: 204px;
  height: 204px;
  position: relative;
  object-fit: cover;
}
.lunch1 {
  color: var(--color-black);
}
.lunch {
  height: 33.5px;
  width: 155px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.lunch-wrapper,
.vector-container {
  display: flex;
  align-items: flex-start;
}
.lunch-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.vector-container {
  height: 257.9px;
  width: 235px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-34xl-9) 0;
  box-sizing: border-box;
  gap: var(--gap-xl-4);
  color: var(--color-white);
}
.follow-us-call-to-action-butto-child {
  height: 204px;
  width: 204px;
  position: relative;
  object-fit: cover;
}
.follow-us-call-to-action-butto {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mini);
}
.breakfast {
  position: relative;
}
.instagram-facebook-social-medi,
.skill-icon-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.skill-icon-container {
  height: 263px;
  flex-direction: column;
  gap: var(--gap-mini);
}
.instagram-facebook-social-medi {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-25xl);
  max-width: 100%;
}
.instagram-facebook-social-medi-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-17xl);
  font-family: var(--font-irish-grover);
}
.frame-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  max-width: 100%;
  margin-top: -22px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1425px) {
  .rectangle-parent3 {
    flex-wrap: wrap;
    padding-left: var(--padding-203xl);
    padding-right: var(--padding-203xl);
    box-sizing: border-box;
  }
  .instagram-facebook-social-medi {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .search-your-recipe {
    font-size: var(--font-size-7xl);
  }
  .rectangle-parent3 {
    padding-left: var(--padding-92xl);
    padding-right: var(--padding-92xl);
    box-sizing: border-box;
  }
  .breakfast,
  .lunch,
  .veg {
    font-size: var(--font-size-10xl);
  }
  .instagram-facebook-social-medi {
    gap: 44px 22px;
  }
}
@media screen and (max-width: 450px) {
  .search-your-recipe {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .breakfast,
  .lunch,
  .veg {
    font-size: var(--font-size-3xl);
  }
}
