.recipe-image {
  display: block;
  border-radius: var(--border10);
  background-size: contain;
}

.recipe-specifics {
  min-width: 292px;
  position: relative;
  padding: var(--size16);
  padding-bottom: var(--size24);
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--size24);
  border-radius: var(--border10);
  font-weight: bold;
}

.recipe-specifics a {
  color: var(--strong-green);
  text-decoration: none;
  margin-left: var(--size08);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size08);
  margin-top: auto;
}

@media screen and (max-width: 1024px) {
  .order {
    order: -1;
  }
}
