.recipe-ingredients {
  flex: 1;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
  padding: var(--size16);
  padding-bottom: var(--size24);

  display: flex;
  flex-direction: column;
  gap: var(--size24);

  border-radius: var(--border10);
}

.ingredients-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
.servings {
  display: flex;
  align-items: center;
  gap: var(--size04);
}

.servings-number {
  font-size: 1.4rem;
  color: var(--strong-green);
}

.ingredients-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: var(--size24);
}
